/* -------------------- Importar CSS propio -------------------- */

/* app.css -> Fuentes, colores, tipografía, condiciones básicas del documento */
@import 'layout.css'; /* CSS navbar y footer */
@import 'home.css'; 
@import 'productos.css'; 


/* -------------------- Flaticon - Uicons -------------------- */

@import "./../../node_modules/@flaticon/flaticon-uicons/css/all/all.css";
@import "./../../node_modules/@flaticon/flaticon-uicons/css/brands/all.css";

/* -------------------- Tailwind -------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* -------------------- Fuentes -------------------- */

@font-face { 
    font-family: "Fuente1";
    src: url("./../../public/fuentes/MsMadi-Regular.ttf");
} 
@font-face { 
    font-family: "Fuente2";
    src: url("./../../public/fuentes/Quicksand-VariableFont_wght.ttf");
} 

/* -------------------- Colores -------------------- */

:root {
    --Negro: #000000;
    --Gris: #343632;
    --Blanco: #fff;
    --Verde1: #7ad16a;
    --Verde2: #61BB51;
    --Verde3: #53a345;
    --Amarillo1: #ffd747;
    --Amarillo2: #FFC800;
    --Amarillo3: #f1bd00;
    --Naranja1: #fa8e3c;
    --Naranja2: #FF8427;
    --Naranja3: #ff770e;
}

/* -------------------- Común -------------------- */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

*:focus {
    outline:none
}

a, a:hover, a:focus, a:active {
    font-weight: 600;
	text-decoration: none;
	color: inherit; 
}

a {
	transition: 0.3s all ease;
}

a:hover, a:focus, a:active {
	color: var(--Verde3);
}

body {
    background-color: var(--Blanco);
}

input[type="checkbox"]:checked {
    background-color: var(--) !important;
}

/* -------------------- Tipografía -------------------- */

h2 {
    font-family: "Fuente2";
    font-size: larger;
}

h3, h4, h5 {
    font-family: "Fuente2";
    font-size: large;
    font-weight: 500;
}

p {
    font-family: "Fuente2"; 
    font-size: medium;
}

/* -------------------- Textos legales -------------------- */
.TextosLegalesContenedor {
    background-image: url(/public/imagenes/fondos/TextosLegales.webp);
    background-repeat: repeat; 
}

.TextosLegalesTarjeta {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 0 clamp(1rem, calc(2rem + 1vw), 3rem); /* !! margen superior */
    font-family: "Fuente2";
}

.TextosLegalesTarjeta h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    color: var(--Verde2);
}

.TextosLegalesTarjeta h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    font-size: x-large;
    font-weight: 800;
    color: var(--Verde3);
}

.TextosLegalesTarjeta h3 {
    padding: 1rem 0 .8rem 1rem;
    font-size: larger;
    color: var(--Verde2);
}

.TextosLegalesTarjeta h4 {
    padding: 0 0 .8rem 1.5rem;
    font-size: large;
    color: var(--Verde3);
}

.TextosLegalesTarjeta p {
    font-size: medium;
}

.TextosLegalesTarjeta ul {
    padding-bottom: .5rem;
}

.TextosLegalesTarjeta ul li {
    padding: .5rem 0 0 .5rem;
    font-size: medium;
    list-style: circle;
    list-style-position: inside;
}