/* -------------------- Colores -------------------- */

:root {
    --Negro: #000000;
    --Gris: #343632;
    --Blanco: #fff;
    --Verde1: #7ad16a;
    --Verde2: #61BB51;
    --Verde3: #53a345;
    --Amarillo1: #ffd747;
    --Amarillo2: #FFC800;
    --Amarillo3: #f1bd00;
    --Naranja1: #fa8e3c;
    --Naranja2: #FF8427;
    --Naranja3: #ff770e;
}

/* -------------------- Aviso cookies -------------------- */

.TarjetaCookie{
    display: flex;
    flex-direction: column;
    align-content: center;
	position: fixed;
	bottom: 20px;
    left: 20px;
    right: 20px;
	z-index: 150;

    max-width: 500px;
	height: fit-content;

	padding: 1.5rem;
    border-radius: 20px;
	background-color: #ffffffb4;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 15px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.TarjetaCookieTitulo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
    gap: 10px;
}

.TarjetaCookieTitulo i {
    font-size: x-large;
    color: var(--Verde3);
}

.TarjetaCookieTitulo h2{
	font-size: large;
	font-weight: 600;
    color: var(--Verde3);
}

.TarjetaCookieTexto p {
	padding: .7rem 0;
	font-size: medium;
	text-align: justify;
}

.TarjetaCookieTexto p a:hover{
	color: var(--Verde3);
}

.TarjetaCookie button{
    display: flex;
    align-content: center;
	font-weight: 500;

    padding: .3rem .5rem;
    border-radius: 10px;
    background-color: var(--Verde2);
    color: var(--Blanco);
}

.TarjetaCookie button:hover {
    background-color: var(--Verde3);
}

.NavBarMovilIdiomasContenido {
    max-width: 200px;
    display: grid;
    grid-template-columns: 5fr 5fr;
    column-gap: 10px;
    row-gap: 5px;
}


/* -------------------- Barra de navegacion -------------------- */ 

.NavBarPc {
    display: none;
}

.NavBarMovil {
    position: absolute;
    top: 0;

    display: grid;
	grid-template-columns: 7fr 3fr;
	align-items: center;
	
	z-index: 100;

	width: 100%;
	padding: 20px 30px;
}

.NavBarMovilLogo img {
    display: block;
	width: calc(120px + 1vw);
}

.NavBarMovil button {
	display: grid;
    justify-content: right;
}

.NavBarMovil button i {
	font-size: xx-large;
    color: var(--Gris);
}

.NavBarOverlay {
    position: absolute;
    right: 0%;
    z-index: 90;
    inset: 0;

    width: 100%;
    height: fit-content;

    padding: 90px calc(1rem + 5vw) 2rem;

    border-radius: 0px 0px 15px 15px;
	background-color: #ffffffb4;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 15px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.NavBarOverlay h2 {
    font-size: large;
    font-weight: 600;
    color: var(--Gris);
}

.NavBarOverlay h3 {
    padding-left: 1rem;
    font-size: medium;
    font-weight: 400;
    color: var(--Gris);
}

.NavBarMovilIdiomas {
    display: flex;
    flex-direction: row;
    gap: 5px;

    padding-top: .7rem;
}

.NavBarMovilIdiomas i {
    padding-top: .3rem;
    font-size: large;
}
/* -------------------- NavBarPc -------------------- */

@media only screen and (min-width: 800px) {
    .NavBarMovil, .NavBarOverlay {
        display: none;
    }

    .NavBarPc {
        position: absolute;
        top: 0;

        display: grid;
        grid-template-columns: 1.5fr 8.5fr;
        align-items: center;
        
        z-index: 100;

        width: 100%;
        padding: 10px calc(30px + 1vw);
    }

    .NavBarBlur {
        background-color: #ffffff56;
        backdrop-filter: blur(5px);
    }

    .NavBarPcLogo {
        width: calc(120px + 1vw);
    }

    .NavBarPcGridA {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-self: right;
        gap: calc(10px + 1vw);

        padding-top: .5rem;
    }

    .NavBarPcEnlaces {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: clamp(4px, calc(4px + 1vw), 20px);
    }

    .NavBarPcEnlaces h2, .NavBarPcGridA a h2 {
        font-size: larger;
        font-weight: 600;
        color: var(--Gris);
    }

    .NavBarPcEnlaces h2:hover, .NavBarPcGridA a h2 {
        font-weight: 600;
    }

    .NavBarPcEnlaces button {
        display: flex;
        flex-direction: row;
    }

    .NavBarPcEnlaces button i {
        margin-left: .4rem;
        padding-top: 1rem;
        font-size: large;
        color: var(--Gris);
    }

    .NavBarPcOverlay {
        position: absolute;
        z-index: 90;

        margin-top: 2.5rem;

        width: fit-content;
        height: fit-content;

        padding: 1rem 1.5rem 1rem;

        border-radius: 10px;
        background-color: #ffffffb4;
        backdrop-filter: blur(5px);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .NavBarPcOverlay a h3, .NavBarPcOverlay form button h3 {
        font-weight: 600;
    }

    .NavBarPcOverlay a h4 {
        padding-left: .5rem;
        font-weight: 500;
    }


    .NavBarPcIdiomas {
        margin-left: auto;
    }

    .NavBarPcOverlayIdiomas {
        width: 120px;

        right: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .NavBarPc {
        gap: calc(10px + 2vw);
    }

    .NavBarPcOverlay {
        margin-top: 3rem;
    }

    .NavBarPcEnlaces h2, .NavBarPcGridA a h2 {
        font-size: x-large;
    }
}

/* -------------------- Contenido -------------------- */

.Contenido > * {
	padding-top: 95px;
    padding-bottom: calc(2rem + 2vw);

    scroll-margin-top: 1rem;
}

@media only screen and (min-width: 800px) { 
    .Contenido > * {
        padding-top: 110px;
    }
}
/* -------------------- Footer -------------------- */
.Footer {
    background-color: var(--Verde2);
}

.FooterA {
    max-width: 1500px;
    margin: auto;
    padding: 1.5rem 2rem;

    display: grid;
}

.FooterA1 {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;

    z-index: 0;
    margin: auto;
    font-size: xx-large;
    color: var(--Blanco);
}

.FooterA1::before {
    content: '';
    height: 100%;
    display: block;
    position: absolute; 
    z-index: -1;

    background: var(--Verde2);
    height: 101%;
    left: -15px;
    right: -15px;
}

.FooterA1::after {
    content: '';
    height: 100%;
    display: block;
    position: absolute;  

    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    z-index: -2;

    background: var(--Blanco);
    height: 3px;
}

.FooterA2 {
    margin: auto;
    padding: 1.5rem 2rem;
}

.FooterA2 img {
    width: 100%;
    max-width: 400px;
}

.FooterB {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;

    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 1.5rem 0 1rem;

    color: var(--Gris);
}

.FooterB1 {
    flex: 1 1 15rem;
}

.FooterB1 h3 {
    font-weight: 700;
}

.FooterB1 a h3 {
    font-weight: 600;
}

.FooterB1 a:hover h4, .FooterB1 a:hover h3 {
    color: var(--Amarillo2);
}

.FooterMetahorus {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.FooterMetahorus h5 {
    font-size: x-small;
    font-weight: 400;
    color: var(--Blanco);
}

.FooterMetahorus h5 a {
    color: var(--Amarillo1);
    font-size: x-small;
    font-weight: 600;
}