/* -------------------- Colores -------------------- */

:root {
    --Negro: #000000;
    --Gris: #343632;
    --Blanco: #fff;
    --Verde1: #7ad16a;
    --Verde2: #61BB51;
    --Verde3: #53a345;
    --Amarillo1: #ffd747;
    --Amarillo2: #FFC800;
    --Amarillo3: #f1bd00;
    --Naranja1: #fa8e3c;
    --Naranja2: #FF8427;
    --Naranja3: #ff770e;
}

/* -------------------- Cabecera -------------------- */

.PedidosA, .EvA { /* ? Eventos */
    background-position: bottom 70% right ;
    background-size: cover;
    
    display: grid;
    align-items: center;
    
    height: 60vh;
    width: 100%;
    padding: calc(3rem + 2vw);
    padding-bottom: 0;
}

#PedA {
    background-image: url(/public/imagenes/fondos/LaCocinita.pedidos.webp);
}

#EvA {
    background-image: url(/public/imagenes/fondos/LaCocinita.eventos.webp);
}

.PedidosA h2, .EvA h2 { /* ? Eventos */
    width: 100%;
    max-width: 900px;
    font-family: "Fuente1";
    font-size: calc(3.5rem + 1.5vw);
    line-height: calc(3rem + .5vw);
    font-weight: 900;
    /* line-height: 4rem; */
    color: var(--Blanco);
}

#PedA h2 {
    text-shadow: 2px 3px 4px #06577780;
}

#EvA h2 {
    text-shadow: 2px 3px 4px #000000be;
}

@media only screen and (min-width: 1200px) {
    .PedidosA, .EvA { /* ? Eventos */
        background-position: center;
        padding-left: calc(14rem + 10vw);
    }

    .PedidosA h2, .EvA h2 { /* ? Eventos */
        font-size: calc(3.5rem + 2.5vw);
        line-height: calc(4.5rem + 1vw);
    }
}

.PedidosB, .EvB {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: calc(1rem + 1vw) calc(2rem + 2vw) calc(2rem + 1.5vw);
}

.PedidosB {
    display: grid;
    gap: 2rem;
}

.EvB {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.PedidosC h3, .EvC h3 {
    padding-bottom: .5rem;
    text-align: center;
    font-family: "Fuente1";
    font-size: calc(2rem + 1.5vw);
    font-weight: 900;
    line-height: calc(2rem + .5vw);
}

.PedidosC h4, .EvC h4 {
    padding-bottom: .5rem;
    text-align: center;
    font-family: "Fuente2";
    font-size: larger;
    font-weight: 900;
}

.PedidosC h5, .EvC h5 {
    padding-top: .5rem;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.PedidosC p, .EvC p {
    padding: .5rem 0;
    font-size: large;
    color: var(--Gris);
}

#PedC h3 {
    color: var(--Amarillo3);
}

#PedC h4 {
    color: var(--Amarillo1);
}

#PedC h5 {
    color: var(--Amarillo2);
}


#EvC h3 {
    color: var(--Verde3);
}

#EvC h4 {
    color: var(--Verde1);
}

#EvC h5 {
    color: var(--Verde2);
}


.PedidosD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding-top: 1.5rem;
    
    text-align: center;
}

.PedidosD a h4 {
    padding: .3rem 1.5rem;

    font-size: large !important;

    background-color: var(--Amarillo2);
    color: var(--Blanco)!important;
    border-radius: 20px;
}

.PedidosD a h4:hover {
    background-color: var(--Amarillo1);
}

.PedidosD img, .EvD img, .EvE img, .EvG img {
    width: 100%;
    max-width: 550px;
    margin: auto;
    object-fit: contain;
}

.EvD img, .EvE img {
    height: 100%;
    width: 100%;
    max-height: 450px;
    margin: auto;
    object-fit: cover;
}

.EvD {
    display: none;
}

@media only screen and (min-width: 900px) {
    .PedidosB, .EvB {
        grid-template-columns: 5fr 5fr;
        gap: 3rem;
    }

    .PedidosC h4, .EvC h4 {
        text-align: left;
        font-size: x-large;
    }
    .PedidosC h3, .EvC h3, .PedidosC h4, .EvC h4 {
        text-align: left;
    }

    .PedidosC p, .EvC p {
        font-size: larger;
    }

    .EvD {
        display: block;
    }

    .EvE {
        display: none;
    }
}